// My background color classes
.bg-logo {
    background-color: $logo !important;
}

.bg-tree {
    background-color: $tree !important;
}

.bg-pink {
    background-color: $pink !important;
}

.bg-orange {
    background-color: $orange !important;
}

.bg-purple {
    background-color: $purple !important;
}