// My border color classes
.border-logo {
    border-color: $logo !important;
}

.border-tree {
    border-color: $tree !important;
}

.border-pink {
    border-color: $pink !important;
}

.border-orange {
    border-color: $orange !important;
}

.border-purple {
    border-color: $purple !important;
}