// My text classes
.text-logo {
    color: $logo !important;
}

.text-tree {
    color: $tree !important;
}

.text-pink {
    color: $pink !important;
}

.text-orange {
    color: $orange !important;
}

.text-purple {
    color: $purple !important;
}