.font-family-comfortaa {
    font-family: Comfortaa, $font-family-sans-serif;
}

.font-family-raleway {
    font-family: Raleway, $font-family-sans-serif;
}

.font-family-roboto {
    font-family: Roboto, $font-family-sans-serif;
}