// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
// $pink: #f66d9b;
$pink: #bd0662;
$red: #e3342f;
// $orange: #f6993f;
$orange: #ffaa04;;
// $yellow: #ffed4a;
$yellow: #f7ef0d;;
// $green: #38c172;
$green: #a9ff39;
$logo: #6ec102;
$tree: #078507;
$teal: #4dc0b5;
$cyan: #6cb2eb;
